.good_table_temp{
  .ant-table-thead > tr > th,.ant-table-tbody > tr > td{
    width:80px;
    text-align:center;
    background:#fff;
    border-bottom:none
  }
  .btn_box{
    position:absolute;
    right:10px;
    top:5px;
  }
  .down_temp{
    margin-left:20px;
  }
  td{vertical-align: middle}
  .ant-form-item{
    margin-bottom:0
  }
  .has-error .ant-form-explain{
    text-align:left;
    padding-left:0px
  }
}
