.count_r{
	margin-left: 200px;
	overflow:hidden;
	height: 100vh;
}
.headers{
	padding: 0;
	background:pink;
	width:100%;
	height:64px;
}
.contents{
	overflow: initial;
	height:100%;
	margin-top: -32px;
}

