.list-handle-opreation {
  .table-btn-item {
    cursor: pointer;
    margin: 0 2px;
  }
}
.set_goods{
  .title{
    font-size:18px;
    padding-bottom:10px;
    border-bottom:1px solid #efefef;
  }
}
