.goods-common-components {

}
.goods-item-content {
  padding-bottom: 20px;
}
.goods-action-top {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.goods-action-top .part-l,
.goods-action-top .part-r {

}
.goods-action-top .part-l {
  width: 105px;
  height: 105px;
  background-color: red;
}
.goods-action-top .part-r {
  padding-left: 10px;
}
.goods-action-top .part-r .goods-name {
  color: #666;
  font-size: 14px;
  word-break: break-all;
  overflow: hidden;
  margin-bottom: 30px;
 }
.goods-action-top .part-r .goods-property {
  line-height: 20px;
 }
 .event-btn {
   border-radius: 3px;
   margin-right: 8px;
 }
