.common-goods-list {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .goods-item-content {
    width: 300px;
    padding-bottom: 20px;
    padding-right: 30px;
    box-sizing: content-box;
  }
  .goods-action-top {
    display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .goods-action-top .part-l img{
    width: 100%;
  }
  .goods-action-top {
    .part-l {
      flex:0 0 105px;
      height: 105px;
      background-color: red;
    }
    .part-r {
      padding-left: 10px;
      .goods-name {
        color: #666;
        font-size: 14px;
        word-break: break-all;
        overflow: hidden;
        margin-bottom: 30px;
      }
      .goods-property {
        line-height: 20px;
      }
    }
  }
   .event-btn {
     border-radius: 3px;
     margin-right: 8px;
   }
   .label-icon-list img{
     width: 16px;
     margin-right: 4px;
   }
}
