.discountTwo {
  .step {
    border: 1px solid #efefef;
    padding: 15px 0 0 20px;
  }
  .ant-form-item-label {
    width: 100px;
  }
  .ant-form-item-control-wrapper {
    display: inline-block;
  }
  .satified_price {
    display: inline-block;
    margin-bottom:15px;
  }
  .reduce_price {
    display: inline-block;
  }
}
