.audit{margin-bottom:20px}
.product_code{display:inline-block;margin-bottom:5px;}
.origin_order{display:flex;justify-content: space-between;margin:20px;}
.old_order{border:1px solid #e8e8e8;padding-bottom:40px}
.on_audit .main_table .ant-table-thead th{background:#35BAB0;color:#333;border-right:0;}
.on_audit .main_table .ant-table-row-level-1 .ant-radio-wrapper{display:none}
.on_audit .main_table .ant-table .ant-table-row-indent + .ant-table-row-expand-icon{margin-left:-40px;display:none}
.on_audit .main_table td {text-align:center}
.on_audit .main_table .ant-table-thead > tr > th, .ant-table-tbody > tr > td{text-align:center}
.on_audit .main_table .ant-table-row-level-0 td:nth-child(2){text-align:left}
.on_audit .main_table .ant-table-row-level-0{background:#f0f2f5}
.on_audit .audit_remark{color:red;margin-left:5px;cursor:pointer}
.on_audit .audit_remark_star{color:#f2de08;margin-left:5px;cursor:pointer}
.on_audit .remark_intro{margin-top:40px;float:right}
