.audit{margin-bottom:20px}
.product_code{display:inline-block;margin-bottom:5px;}
.origin_order{display:flex;justify-content: space-between;margin:20px;}
.old_order{border:1px solid #e8e8e8;padding-bottom:40px}
#on_audit .main_table .ant-table-thead th{background:#35BAB0;color:#333;border-right:0;}
#on_audit .main_table .ant-table-row-level-1 .ant-radio-wrapper{display:none}
#on_audit .main_table .ant-table .ant-table-row-indent + .ant-table-row-expand-icon{margin-left:-40px;display:none}
#on_audit .main_table .ant-table-row-level-0 .ant-table-selection-column{border-right:0 !important}
#on_audit .main_table .ant-table-row-level-0  td:nth-child(2),#on_audit .main_table .ant-table-row-level-0  td:nth-child(3),#on_audit .main_table .ant-table-row-level-0  td:nth-child(4){border-right:0 !important}
#on_audit .main_table .ant-table-row-level-1  td:first-child{border-right:0 !important}
#on_audit .main_table td {text-align:center}
#on_audit .main_table .ant-table-thead > tr > th, .ant-table-tbody > tr > td{text-align:center}
#on_audit .main_table .ant-table-row-level-0 td:nth-child(2){text-align:left}
#on_audit .main_table .ant-table-row-level-0{background:#f0f2f5}
#on_audit .audit_remark{transform:scale(0.8);cursor:pointer;display:inline-block;border-radius:2px;}
.remark_box .mark{margin:10px;}
.remark_box .bei{font-size:12px;color:#f13737;border:1px solid #f13737;}
.remark_box .name{font-size:12px;color:#3dbab0;border:1px solid #3dbab0;}
.remark_box .zero{font-size:12px;color:#9d3adc;border:1px solid #9d3adc;}
.remark_box .ready{font-size:12px;color:#e8c021;border:1px solid #e8c021;}
#on_audit .remark_intro{margin-top:40px;float:right}
.chang_price .old_price{text-align:right;margin-bottom:10px;}
#on_audit .onaudit_list{overflow:hidden}
