.goods-common-components {

}
.goods-common-components .goods-item-content {
  width: 300px;
  padding-bottom: 20px;
}
.goods-common-components .goods-action-top {
  display:-webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.goods-common-components .goods-action-top .part-l img{
  width: 100%;
}

.goods-common-components .goods-action-top .part-l {
  flex:0 0 105px;
  height: 105px;
  background-color: red;
  position: relative;
}
.goods-common-components .checkbox-wrap {
   position: absolute;
   left: 10px;
   top: 10px;
}
.goods-common-components .goods-action-top .part-r {
  padding-left: 10px;
}
.goods-common-components .goods-action-top .part-r .goods-name {
  color: #666;
  font-size: 14px;
  word-break: break-all;
  overflow: hidden;
  margin-bottom: 30px;
 }
.goods-common-components .goods-action-top .part-r .goods-property {
  line-height: 20px;
 }
 .goods-common-components .event-btn {
   border-radius: 3px;
   margin-right: 8px;
 }
 .goods-common-components .label-icon-list img{
   width: 16px;
   margin-right: 4px;
 }
