.add-goods-components {
  .btns-list{
    text-align: center;
    padding: 20px 0;
    button {
        margin-left: 20px;
    }
  }
}
//详情
.basegoods-detail-components {
  .img-list-wrap {
    overflow: hidden;
    .img-item {
      float: left;
      width: 105px;
      height: 105px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }

  }
  .img-wrap {
    width: 105px;
    height: 105px;
    img {
      width: 100%;
    }
  }
}
