.list-cad  .ant-card-head-title{
    padding:0;
    height: 46px;
    line-height: 46px;
}



.lists .lists-con{
    padding-top: 1px;
    display: flex;
    justify-content: space-between;

}

.lists .lists-con .ant-input{
    text-align: center;
    width: 110px;
}
.dismiss_audit{float:right}
.lists .ant-form-item-label:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 12px;
    color: #f5222d;
}
.img-box .ant-modal-body{
  text-align:center
}
.img-box .identified{
  margin-bottom:20px;
}
