html, body, :global(#root) {
  height: 100%;
  font-family: "Microsoft YaHei";
  overflow-x: hidden;
}

/*初始化*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/*table { border-collapse: collapse; border-spacing: 0; }*/
a { color: #333; text-decoration: none; outline: none;}
input[type=submit], button { cursor: pointer; }
em, i { font-style: normal; }
img { vertical-align: middle; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; *zoom:1;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset !important;}
.felxboxs{display: flex;flex-wrap: wrap;justify-content: space-between;}


/*宽高*/
.g1 { width: 10%; }
.g2 { width: 20%; }
.g3 { width: 30%; }
.g4 { width: 40%; }
.g5 { width: 50%; }
.g6 { width: 60%; }
.g7 { width: 70%; }
.g8 { width: 80%; }
.g9 { width: 90%; }
.g10 { width: 100%; }
.h10{height: 100%;}
.w100{width: 100%;}
.h100{height: 100%;}


/*字体*/
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.f28 { font-size: 28px; }
.f30 { font-size: 30px; }
.f32 { font-size: 32px; }
.f36 { font-size: 36px; }
.yahei { font-family: "Microsoft YaHei"; }
.songti { font-family: SimSun; }
.verdana { font-family: Verdana; }
strong, b, .b { font-weight: bold; }

/*距离*/
.vm { vertical-align: middle; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.mt15 { margin-top: 15px; }
.mb15 { margin-bottom: 15px; }
.mt20{margin-top: 20px;}
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }
.pt15 { padding-top: 15px; }
.pb15 { padding-bottom: 15px; }
.lh1 { line-height:1;}
.lh2 { line-height:2;}
.lh3 { line-height:3;}
.mt30{margin-top:30px;}
.mr30{margin-right:30px;}
.ml30{margin-left: 30px;}
/*颜色*/
.f333 { color: #333; }
.f666 { color: #666; }
.f999 { color: #999; }
.black { color:#000;}
.white { color:#fff;}
.orange { color:#f60;}
.red { color: #e5004f;}
.blue { color:#e5004f;}
.green { color:#49a100;}
.bg-white{background:#fff;}
.theme-color{color: #35bab0;}
.placehold-color{color: #9b9b9b;}

/*自定义类*/
.w{margin: 0 auto;}
.center { text-align: center;}
.tr { text-align: right;}
.tl { text-align: left;}
.tc { text-align: center;}
.fr { float: right;}
.fl { float: left;}
.show{ display: block;}
.hide{ display: none!important;}
.pointer { cursor:pointer;}
.cursor-help { cursor:help;}
.noborder { border:0 none;}
.abs{position:absolute;}
.rel{position:relative;}
.fix{position: fixed;}
ins { text-decoration: none; }
.u { text-decoration: underline;}

/*框架*/
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content{overflow-y: auto;position: absolute;top:40px;bottom: 0;}

/*model*/
.ant-modal-header{
	text-align: center;
}


/*Button */
.icon_add{font-weight: 900;}

/* radius */
.ant-radio-checked  .ant-radio-inner:after{border-radius: 50%;}

/* table */
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{text-align:center}
.ant-table-bordered .ant-table-thead > tr > th{font-size: 14px;color: #666;background: #f4f4f4;font-weight: normal;}
.ant-table-tbody .table_white{background: white;}/*设置隔行变色*/
.ant-table-tbody .table_gray{background: #f4f4f4}
.ant-table.ant-table-bordered .ant-table-footer{background: #fff;padding:30px;}
.ant-table-placeholder{display: none;}
.ant-table.ant-table-bordered  .ant-table-footer:before{background: #fff;}
.ant-table-thead > tr > th.ant-table-selection-column .ant-radio-wrapper, .ant-table-tbody > tr > td.ant-table-selection-column .ant-radio-wrapper .ant-radio-inner:after{border-radius: 50%;width: 6.5px;height: 6.5px;}

/* 分页 */
.pagination{border-top:1px solid #F4F4F4;padding-top: 20px;}

/* 搜速区 */
.ant-form-item .ant-form-item-label label{color: #666; }
.serach_form .ant-form-item .ant-form-item-label label{color: #666; }
.serach_form .ant-form-item .ant-input{width: 180px;}
.serach_form .ant-form-item .ant-select-selection--single{width:180px;}
.serach_form .ant-form-item .ant-calendar-picker .ant-input{width: 290px;}
.serach_form .ant-form-item  .noant-calendar-picker .ant-input{width: 180px;}
.serach_form .ant-form-item .ant-form-item-control-wrapper{display: inline-block;}
.serach_form .ant-form-item{margin-right: 15px;}
.serach_form{display: flex;flex-wrap: wrap;}
.serach_form .ant-form-item-label{width: 90px;}

/* card */
.cardlist{display: flex;flex-wrap: wrap;width: 100%;}
.cardlist_item{margin:10px 15px;}
.ant-card-head{padding:0 8px!important;}
.ant-card-head .ant-card-head-title{font-weight: normal!important;font-size: 12px!important;color: rgba(0, 0, 0, 0.65)!important;}
.ant-card-body{padding:10px 0!important;}


/* 警告边框爆红 */

.data_waring .ant-input{border:1px solid red;}
.data_waring .ant-input:hover{border:1px solid red;}
.data_waring .ant-input:focus{border:1px solid red;}
.btnlist_r{float: right;height: 30px;line-height: 30px;margin-top:15px;}


/* search */
.formbox{position: relative;}
.formbox_row{margin-left:-30px!important;border-bottom: 1px solid #f4f4f4;position: static;margin-right: -30px!important;}
.formbox_col{padding-left: 30px!important;padding-right: 96px!important;}


/* message */
.ant-message-notice-content{background: #fff;box-shadow: 0 0 30px 0 rgba(0,0,0,0.30);border-radius: 5px;font-size: 30px;color: #384162;padding:24px 20px!important;}
.ant-message .anticon{top:0;font-size: 26px!important;}
.ant-message{top:50%!important;transform: translateY(-50%)!important;}

/* 去掉input外框 */
.parentinput .ant-input{border:none}
.parentinput .ant-input-disabled{background: #fff;color: rgba(0, 0, 0, 0.65)}


.cardlistbox{display: flex;flex-wrap: wrap;justify-content: space-between;}

.ant-modal-wrap .ant-confirm-info{width:550px!important;}
.ant-modal-wrap .ant-confirm-info .lists p{margin-bottom: 10px;}


.ant-menu-submenu-arrow{display: none;}