.cserver-order-detail-pages {
  .row {
    margin-bottom: 20px;
    .label-item {
      padding: 10px 15px;
    }
  }
  .detail-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .content-list {
    .content-wrap {
      text-overflow:ellipsis;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .img-list {
      display: inline-block;
      padding-top: 10px;
    }
    .img-item {
      display: inline-block;
      vertical-align: top;
      width: 104px;
      height: 104px;
      border: 1px solid #e8e8e8;
      margin-right: 8px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
