.qtools-components-pages {
  .handel-btn-lists{
    padding-bottom:15px;
    button {
      margin: 20px 10px 0 0;
    }
  }
}
.qtools-condition-form {
  position:relative;
  padding-left:30px;
  margin:0 -30px 0 -30px;
  border-bottom:1px solid #f4f4f4;
  /* 搜速区 */
  .ant-form-item .ant-form-item-label label{color: #666; }
  .search-form-outwrap{
    padding-right:96px;
    .search-form-wrap {
      display: flex;
      flex-wrap: wrap;
      .ant-form-item {
        margin-right: 15px;
        .ant-form-item-label label{
          color: #666;
        }
        .ant-input{
          width: 180px;
        }
        .ant-select-selection--single{
          width:180px;
        }
        .ant-calendar-picker .ant-input{
          width: 290px;
        }
        .noant-calendar-picker .ant-input{
          width: 180px;
        }
        .ant-form-item-control-wrapper{
          display: inline-block;
          height: 35px;
          line-height: 35px;
          vertical-align: middle;
        }
        .ant-form-item-control-wrapper .ant-form-item-control{
          height: 35px;
          line-height: 35px;
          vertical-align: middle;
        }
      }
      .ant-form-item-label{
        width: 90px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
  .search-submit-btn {
    position:absolute;
    right:30px;
    bottom:20px;
  }
}
.ant-upload-list-item  {
  &.ant-upload-list-item-done {
    text-align: left;
  }
}
//上传的图片百分百显示
.ant-upload-list-item-info > span {
  width:100%;
  height:100%
}
//表单单位
.addonAfter-inputs-common {
  .ant-input {
    border-right: 0;
  }
  .ant-input-group-addon {
    background: #fff;
  }
}
textarea {
  resize: none;
}
//商品弹框
.goods-handle-modal-wrap {
  .ant-modal-body {
    padding: 0;
  }
  .handle-modal-content {
    padding: 24px;
  }
  .handle-modal-footer {
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    button {
      margin-left: 8px;
    }
  }
}
.ant-textarea{
  resize:none
}
.btn_cancel_save{
  margin-top:50px;
}
.head_title{
  font-size:22px;
  padding-bottom:10px;
  margin-bottom:15px;
  border-bottom:1px solid #eee;
}
.must-pic label:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 12px;
    color: #f5222d;
}
.table_temp_list{
  position:relative;
  .ant-col-18,.ant-col-10,.ant-col-12{position:static;}
  .ant-form-item-control{position:static;}
}
.suffix_tips{
  color:#bfbfbf;margin-left:15px;
}
