.qtools-components-pages {
  .handel-btn-lists{
    padding-bottom:15px;
    button {
      margin: 20px 10px 0 0;
    }
  }
}
.qtools-condition-form {
  position:relative;
  padding-left:30px;
  margin:0 -30px 0 -30px;
  border-bottom:1px solid #f4f4f4;
  /* 搜速区 */
  .ant-form-item .ant-form-item-label label{color: #666; }
  .search-form-outwrap{
    padding-right:96px;
    .search-form-wrap {
      display: flex;
      flex-wrap: wrap;
      .ant-form-item {
        margin-right: 15px;
        .ant-form-item-label label{
          color: #666;
        }
        .ant-input{
          width: 180px;
        }
        .ant-select-selection--single{
          width:180px;
        }
        .ant-calendar-picker .ant-input{
          width: 290px;
        }
        .noant-calendar-picker .ant-input{
          width: 180px;
        }
        .ant-form-item-control-wrapper{
          display: inline-block;
          height: 35px;
          line-height: 35px;
          vertical-align: middle;
        }
        .ant-form-item-control-wrapper .ant-form-item-control{
          height: 35px;
          line-height: 35px;
          vertical-align: middle;
        }
      }
      .ant-form-item-label{
        width: 90px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
  .search-submit-btn {
    position:absolute;
    right:30px;
    bottom:20px;
  }
}
//上传的图片百分百显示
.ant-upload-list-item-info > span {
  width:100%;
  height:100%
}
//表单单位
.addonAfter-inputs-common {
  .ant-input {
    border-right: 0;
  }
  .ant-input-group-addon {
    background: #fff;
  }
}
.ant-textarea{
  resize:none
}
