.order{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_order.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.goods{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_goods.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.operation{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_operation.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.datacenter{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_datacenter.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.wsn{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_wsn.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.account{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_account.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.online{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_online.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.cooperate{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_cooperate.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.activity{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_activity.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.server{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_server.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.cConfig{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_wsn.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}
.cMark{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_cmark.png) no-repeat center center;background-size: cover;
	vertical-align: middle;
	margin-top: -5px;
	text-align:left;
	margin-left: -37px;
}