.modal-form label{
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
}
.modal-form .ant-form-item-label{
    text-align: right;
}
.show-table-form .show-goods-table .ant-table-thead tr th{
    height: 35px;
    line-height: 35px;
}