.slidebox{
	height: 100vh;
	position: fixed;
	left: 0
}
.slider_logo{
	width: 100%;
	height: 80px;
}
.slider_logo img{
	width: 100%;
	height: 100%;
}

.menus{
	padding-top: 40px;
	height:-moz-calc(100vh - 80px);
	height:-webkit-calc(100vh - 80px);
	height: calc(100vh - 80px);
	overflow-y: auto;
}

.menus::-webkit-scrollbar
{
    width: 0px;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
	height: 60px;
	line-height: 60px;
	font-size: 15px;
	color: #7299AC;
	padding-left: 0!important;
	text-align: center;
	padding-right: 0;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
	height: 34px;
	line-height: 34px;
	font-size: 13px;
	color: rgb(112, 183, 216);
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
	background: none;
	color: #35bab0;
}
.ant-menu-submenu-inline > .ant-menu-submenu-title:after{content:'';}


.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover{
	color: #35bab0;
}
.ant-menu-dark .ant-menu-item:hover .order, .ant-menu-dark .ant-menu-submenu-title:hover .order{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_order_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .goods, .ant-menu-dark .ant-menu-submenu-title:hover .goods{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_goods_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .operation, .ant-menu-dark .ant-menu-submenu-title:hover .operation{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_operation_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .datacenter, .ant-menu-dark .ant-menu-submenu-title:hover .datacenter{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_datacenter_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .wsn, .ant-menu-dark .ant-menu-submenu-title:hover .wsn{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_wsn_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .account, .ant-menu-dark .ant-menu-submenu-title:hover .account{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_account_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .online, .ant-menu-dark .ant-menu-submenu-title:hover .online{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_online_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .online, .ant-menu-dark .ant-menu-submenu-title:hover .cooperate{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_cooperate_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .online, .ant-menu-dark .ant-menu-submenu-title:hover .activity{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_activity_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .online, .ant-menu-dark .ant-menu-submenu-title:hover .server{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_server_hover.png) no-repeat center center;background-size: cover;
}
.ant-menu-dark .ant-menu-item:hover .cConfig, .ant-menu-dark .ant-menu-submenu-title:hover .cConfig{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 18px;
	background:url(../assets/icon_wsn_hover.png) no-repeat center center;background-size: cover;
}



/* .itembox{padding-left: 16px;} */
.itemmain{padding-left: 0px;}
.ant-menu-dark .ant-menu-item:hover,.ant-menu-dark .ant-menu-submenu-title:hover,.ant-menu.ant-menu-dark .ant-menu-item-selected{
	background: #101316;
}


.openpop{
	width:15px;
	height:100px;
	position: fixed;
	top:50%;
	background:url('../assets/arrow_02.png') no-repeat;
	background-size: 100% 100%;
	left:220px;
	margin-top:-50px;cursor: pointer;}
.closepop{
	width:15px;height:100px;position: fixed;top:50%;
	background:url('../assets/arrow_01.png') no-repeat;
	background-size: 100% 100%;
	left:0px;margin-top:-50px;cursor: pointer;
}
.btnbox{position: relative;height: 48px;}
.uploadim{position:absolute;left: 0;top:20px}
.btnmo{position:absolute;left: 110px;top:20px;}
