.country-manage-components {
  .handle-add-btn-wrp {
    padding: 20px 0;
    border-bottom:1px solid #f4f4f4;
  }
  .country-list {
    padding:20px 0 30px;
    .card-wrap {
      display: inline-block;
      margin-right: 16px;
    }
    .card-item {
      width: 105px;
      height: 105px;
      margin-bottom: 50px;
      .ant-card-cover {
        height: 100%;
      }
      img{
        height: 100%;
      }
    }
    .country-name {
      text-align: center;
    }
  }
}
