.coupon .form .submit{float:right}
.coupon .form{border-bottom:1px solid #eaeaea}
.coupon .btn{margin:20px 10px 15px 0;}
.couponDetail{margin:100px}
.tail{font-size:16px;margin-bottom:30px;color:#000}
.addCoupon .radio{width:235px;display:inline-block;}
.addCoupon .radio .has-error{width:120px;}
.addCoupon .limitDay{width:200px;display:inline-block;vertical-align:top}
.addCoupon .limitDay .ant-form-item{margin-bottom:10px;}
.addCoupon .ant-form-item label{margin-bottom:15px;}
.addCoupon .limitDay .ant-calendar-picker{width:100%;}
